@import "../../../helper.scss";

section {
	@include padding-top-bottom(64px);
	@extend .padding-web;
	> div {
		@extend .d-flex-center;
		gap: 32px;
    margin-bottom: 32px;
		h2 {
			margin: 0;
		}
		div {
			height: 4px;
			width: 100%;
			margin: 0;
			padding: 0;
			&.divider {
				background-color: $purppleColor;
			}
		}
	}
}

.gap-form-field{
  gap: 32px;
}

section {
	> article {
		@extend .d-flex-center;
    align-items: flex-start;
		gap: 80px;
		> div {
      flex: 1;
			display: flex;
      flex-direction: column;
			margin: 0;
			padding: 0;
      gap: 24px;
			p {
				margin: 0;
				padding: 0;
			}
      h3{
          font-size: 32px;
          font-weight: 700;
          margin: 0;
        }
      >p{
        span{
          font-weight: 700;
        }
      }
		}

    >form{
      flex:1;
      display: flex;
      flex-direction: column;
      @extend .gap-form-field;
      >article{
        flex:1;
        display: flex;
        flex-direction: column;
        @extend .gap-form-field;
        div.form-control{
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          p.required-field{
            color: $dangerColor;
          }
          img{
            width: 25px;
            height: 25px;
            position: absolute;
            right: 24px;
            top: 12px;
          }
          >input, textarea{
            color: $whiteColor;
            margin: 0;
            padding: 15px 25px;
            border-radius: 10px;
            background-color: transparent;
            }
            textarea{
              resize: vertical;
            }
        }
      }
      >div.policy{
        display: flex;
        align-items: flex-start;
        gap: 8px;
        >p{
          margin: 0;
          >a{
            color: $purppleColor;
            cursor: pointer;
          }
        }
      }
      >div.button-container{
        @extend .d-flex-center;
        button.active{
          @include button();
          color: $whiteColor;
          transition: all 125ms ease-in-out;
          border: unset;
          cursor: pointer;
          &:hover{
            @include button($purppleColor);
            transform: scale(1.2);
          }
        }
        button.disabled{
          @include button($grayColor);
          color: $whiteColor;
          border: unset;
        }
      }
    }
	}
}

.d-none{
  display: none;
}

.color-field-success{
  border: 1px solid $purppleColor;
  &::placeholder{
    color: $whiteColor;
    font-family: Poppins;
  }
  &:hover{
    border: 1px solid $greenColor;
  }
}

.color-field-incomplete{
  border: 1px solid $dangerColor;
  &::placeholder{
    color: $whiteColor;
    font-family: Poppins;
  }
  &:hover{
    border: 1px solid $dangerColor;
  }
}

.checkbox{
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: all 75ms ease-in-out;
}

//checkbox
div.policy{
  position: relative;
  input[type="checkbox"]{
    position: absolute;
    left: 1px;
    top:2px;
    opacity: 0;
    z-index: 10;
  }

  input[type="checkbox"]+label{
    @extend .checkbox;
    background-image: url("../../../assets/img/unchecked.png");
    &:hover{
      background-image: url("../../../assets/img/unchecked_hover.png");
    }
  }

  input[type="checkbox"]:checked+label{
    @extend .checkbox;
    background-image: url("../../../assets/img/checked.png");
    &:hover{
      background-image: url("../../../assets/img/checked_hover.png");
    }
  }
}




