<section id="contact">
  <div>
    <div class="divider"></div>
    <h2>Contact</h2>
    <div></div>
  </div>
  <article>
    <div>
      <h3>Got a problem to solve?</h3>
      <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
      <p>Need a Frontend developer? <span>Contact me!</span></p>
    </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <article>
        <div class="form-control">
          @if(firstTime.name){
            @if (!name.valid) {
              <img src="../../../assets/img/warning.png" alt="warning">
            }@else {
              <img src="../../../assets/img/success.png" alt="success">
            }
          }
      
          <input [ngClass]="{'color-field-success' : showInputStyle['name'], 'color-field-incomplete' : !showInputStyle['name'] }" [(ngModel)]="contactData.name" type="text" #name="ngModel" name="name" placeholder="Your name" required (click)="fieldClick(name, 'name', 'name')" (change)="updateColor('name')">
          @if (!name.valid && name.touched ) {
            <p class="required-field">Your name is required</p>
          }@else {
            <p class="required-field" [ngClass]="{ 'd-none':!errorState['name'] || name.valid}">Your name is required</p>
          }
        </div>
        
        <div class="form-control">
          @if(firstTime.email){
            @if (!email.valid) {
              <img src="../../../assets/img/warning.png" alt="warning">
            }@else {
              <img src="../../../assets/img/success.png" alt="success">
            }
          }
          
          <input [ngClass]="{'color-field-success' : showInputStyle['email'], 'color-field-incomplete' : !showInputStyle['email']}" [(ngModel)]="contactData.email" type="email" #email="ngModel" name="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" (click)="fieldClick(email, 'email', 'email')" (change)="updateColor('email')">
          
          @if (!email.valid && email.touched ) {
            <p class="required-field">You must write a valid email</p>
          }@else {
            <p class="required-field" [ngClass]="{ 'd-none':!errorState['email'] || email.valid}">Your email is required</p>
          }
          
        </div>

        <div class="form-control">
          @if(firstTime.message){
            @if (!message.valid) {
              <img src="../../../assets/img/warning.png" alt="warning">
            }@else {
              <img src="../../../assets/img/success.png" alt="success">
            }
          }

          <textarea [ngClass]="{'color-field-success' : showInputStyle['message'], 'color-field-incomplete' : !showInputStyle['message'] }" [(ngModel)]="contactData.message" rows="10" #message="ngModel" name="message" placeholder="Your message" minlength="10" required (click)="fieldClick(message, 'message', 'message')" (change)="updateColor('message')"></textarea>
          @if (!message.valid && message.touched ) {
            <p class="required-field">Your message is empty or is smaller than 10 letter</p>
          }@else {
            <p class="required-field" [ngClass]="{ 'd-none':!errorState['message'] || message.valid}">Your message is empty</p>
          }
        </div>
      </article>
      <div class="policy">
        <input type="checkbox" name="term" (change)="onCheckboxChange($event)">
        <label for="term"></label>
        <p class="required-field">I've read the <a>privacy policy</a> and agree to the processing of my data as outlined</p>
      </div>
      <div class="button-container">
        @if(isTermsAccepted && name.valid && email.valid && message.valid){
          <button class="active"  type="submit">Send message :)</button>
        }@else {
          <button class="disabled"  type="submit">Send message :)</button>
        }
      </div>
    </form>
  </article>
  <p>
    <a href="#home"><img src="../../../assets/img/go-up-arrow.png" alt=""></a>
  </p>
</section>
