@import '../../../helper.scss';

section{
  @include padding-top-bottom(64px);
  >div{
    @extend .d-flex-center;
    gap: 32px;
    h2{
      margin: 0;
    }
    div{
      height: 4px;
      width:100%;
      margin: 0;
      padding: 0;
      &.divider{
        background-color: $purppleColor;
      }
    }
  }

  article{
    @extend .padding-web;
  }
}