<section id="contact">
  <div class="header">
    <div class="divider"></div>
    <h2>{{'contact' | translate}}</h2>
    <div></div>
  </div>
  <article>
    <div data-aos="slide-right"
    data-aos-offset="200"
    data-aos-delay="200"
    data-aos-duration="700"
    data-aos-easing="ease-in-out">
      <h3>{{'got-problem' | translate}}</h3>
      <p>{{'contact-me' | translate}}</p>
      <p>{{'need-frontend' | translate}}<span>{{'contact-with-me' | translate}}</span></p>
    </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <article>
        <div class="form-control">
          @if(firstTimeIcon.name){
            @if (!name.valid) {
              <img src="./assets/img/warning.png" alt="warning">
            }@else {
              <img src="./assets/img/success.png" alt="success">
            }
          }
      
          <input [ngClass]="{'color-field-success' : showInputStyle['name'], 'color-field-incomplete' : !showInputStyle['name'] }" [(ngModel)]="contactData.name" type="text" #name="ngModel" name="name" [placeholder]="translate.placeholderName" required (click)="fieldClick(name, 'name', 'name', 'name', true)" (change)="updateColor('name')">

          
          @if(firstTimeMessage.name){
            @if (!name.valid && name.touched ) {
              <p class="required-field">{{'form-name' | translate}}</p>
            }@else {
              <p class="required-field" [ngClass]="{ 'd-none':!errorState['name'] || name.valid}">{{'form-name' | translate}}</p>
            }
          }
        </div>
        
        <div class="form-control">
          @if(firstTimeIcon.email){
            @if (!email.valid) {
              <img src="./assets/img/warning.png" alt="warning">
            }@else {
              <img src="./assets/img/success.png" alt="success">
            }
          }
          
          <input [ngClass]="{'color-field-success' : showInputStyle['email'], 'color-field-incomplete' : !showInputStyle['email']}" [(ngModel)]="contactData.email" type="email" #email="ngModel" name="email" [placeholder]="translate.placeholderEmail" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" (click)="fieldClick(email, 'email', 'email', 'email', true)" (change)="updateColor('email')">
          
          @if(firstTimeMessage.email){
            @if (!email.valid && email.touched ) {
              <p class="required-field">{{'form-email-valid' | translate}}</p>
            }@else {
              <p class="required-field" [ngClass]="{ 'd-none':!errorState['email'] || email.valid}">{{'form-email' | translate}}</p>
            }
          }  
        </div>

        <div class="form-control">
          @if(firstTimeIcon.message){
            @if (!message.valid) {
              <img src="./assets/img/warning.png" alt="warning">
            }@else {
              <img src="./assets/img/success.png" alt="success">
            }
          }

          <textarea [ngClass]="{'color-field-success' : showInputStyle['message'], 'color-field-incomplete' : !showInputStyle['message'] }" [(ngModel)]="contactData.message" rows="10" #message="ngModel" name="message" [placeholder]="translate.placeholderMessage"  minlength="10" required (click)="fieldClick(message, 'message', 'message', 'message', true)" (change)="updateColor('message')"></textarea>

          @if(firstTimeMessage.message){
            @if (!message.valid && message.touched ) {
              <p class="required-field">{{'form-text-long' | translate}}</p>
            }@else {
              <p class="required-field" [ngClass]="{ 'd-none':!errorState['message'] || message.valid}">{{'form-text' | translate}}</p>
            }
          }
        </div>
      </article>
      <div class="policy">
        <div class="container-policy">
          <input type="checkbox" [checked]="isTermsAccepted" name="term" (change)="onCheckboxChange($event)">
          <label for="term"></label>
          <p class="required-field">{{'i-red' | translate}}<a routerLink="policy">{{'privacy-policy' | translate}} </a>{{'i-agree' | translate}}</p>
        </div>
        @if(name.valid && email.valid && message.valid && !isTermsAccepted){
          <p class="required-field">{{'accept-please' | translate}}</p>
        }
      </div>
    
      <div class="button-container">
        @if(isTermsAccepted && email.valid && message.valid && name.valid ){
          <button class="active"  type="submit">{{'send-message' | translate}} :)</button>
        }@else {
          <button class="disabled"  type="submit">{{'send-message' | translate}} :)</button>
        }
      </div>
    </form>
  </article>
  <div class="message" [ngClass]="{'index-0': !timePopUp}">
    <p [ngClass]="{'show-message': timePopUp}">
      {{'thanks' | translate}}
      <br>
      {{'bye' | translate}}
    </p>
  </div>
  <p>
    <a href="#home">
      <svg viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="rectgreenColor" x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2"/>
        <path class="greenColor" d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="white"/>
      </svg>
    </a>
  </p>
  <img class="purpple-img" src="./assets/img/bg4.png" alt="purpple-img">
</section>
