<section [ngClass]="{'hidde-menu': navService.menu, 'show-menu': !navService.menu}">
  <div>
    <a href="#aboutMe" (click)="navService.toggleMenu(); navService.toggleIcon(); navService.activeLink($event)">{{'aboutMe' | translate}}</a>
    <a href="#skills" (click)="navService.toggleMenu(); navService.toggleIcon(); navService.activeLink($event)">{{'skills' | translate}}</a>
    <a href="#portfolio" (click)="navService.toggleMenu(); navService.toggleIcon(); navService.activeLink($event)">{{'portfolio' | translate}}</a>
    <a href="#contact" (click)="navService.toggleMenu(); navService.toggleIcon(); navService.activeLink($event)">{{'contact' | translate}}</a>
    <div class="translate-option">
      <a (click)="translate.switchLanguage('en'); navService.activelanguage($event)" [ngClass]="{'activeLanguage': translate.currentLanguage === 'en'}">EN</a>
      <div class="divider"></div>
      <a (click)="translate.switchLanguage('de'); navService.activelanguage($event)" [ngClass]="{'activeLanguage': translate.currentLanguage === 'de'}">DE</a>
      <div class="divider"></div>
      <a (click)="translate.switchLanguage('es'); navService.activelanguage($event)" [ngClass]="{'activeLanguage': translate.currentLanguage === 'es'}">ES</a>
    </div>
  </div>
</section>
