@import '../../../helper.scss';

section{
  position: fixed;
  z-index: 1000;
  height: 100vh;
  background-color: rgba($color: $bgColor, $alpha: 0.9);
  left: 0;
  right: 0;
  top: 0;
  >div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:29px;
    >a{
      cursor: pointer;
      font-size: 24px;
    }
    
    >div.translate-option{
      @extend .d-flex-center;
      gap: 8px;
      >div{
        width: 2px;
        height: 16px;
        background-color: $purppleColor;
      }
      >p{
        cursor: pointer;
      }
    }

  }
}

.hidde-menu{
  transform: translateX(100vw);
  transition: all 1s ease-in-out;
  // animation: slideInOut 1s ease-in-out forwards ;
}

@keyframes slideInOut {
  from{transform: translateX(0);}
  to{transform: translateX(100vw);}
}

