<section id="aboutMe">
  <article class="icons-social-network">
    <div class="divider"></div>
    <div class="icons-container">
      <figure>
        <a href="https://github.com/RaudelGomez" target="_blank">
          <img src="./assets/img/github.png" alt="github">
        </a>
      </figure>
      <figure>
        <a href="">
          <img src="./assets/img/mail.png" alt="mail">
        </a>
      </figure>
      <figure>
        <a href="https://www.linkedin.com/in/raudel-gómez-smith-97ba211ba" target="_blank">
          <img src="./assets/img/linkedin.png" alt="linkedin">
        </a>
      </figure>
      <a href="">gomezsmith.raudel&#x40;gmail.com</a>
    </div>
    <div class="div-save-place"></div>
  </article>
  <article class="about-me-container">
    <h2>{{'aboutMe' | translate}}</h2>
    <div>
      <div class="text-about-me">
        <p data-aos="flip-right"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out">{{'aboutMe-headline' | translate}}</p>
        <div class="about-me-subcontainer">
          <div class="row-text">
            <figure data-aos="slide-right"
            data-aos-offset="200"
            data-aos-delay="300"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">
              <img src="./assets/img/location_green.png" alt="location">
            </figure>
            <p data-aos="flip-right"
            data-aos-offset="200"
            data-aos-delay="100"
            data-aos-duration="1500"
            data-aos-easing="ease-in-out">{{'aboutMe-located' | translate}}</p>
          </div>
          <div class="row-text">
            <figure data-aos="slide-right"
            data-aos-offset="200"
            data-aos-delay="500"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">
              <img src="./assets/img/idea_green.png" alt="think way">
            </figure>
            <p data-aos="flip-right"
            data-aos-offset="200"
            data-aos-delay="150"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out">{{'aboutMe-mind' | translate}}</p>
          </div>
          <div class="row-text">
            <figure data-aos="slide-right"
            data-aos-offset="200"
            data-aos-delay="700"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">
              <img src="./assets/img/puzzle_gree.png" alt="professional">
            </figure>
            <p data-aos="flip-right"
            data-aos-offset="200"
            data-aos-delay="200"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out">{{'aboutMe-professional' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="div-save-place"></div>
    </div>
  </article>
  <div class="contaniner-img-divider" data-aos="slide-left"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out">
    <figure>
      <img src="./assets/img/me-lateral.png" alt="me">
    </figure>
    <div class="photo-divider"></div>
  </div>
  <img src="./assets/img/bg3.png" alt="backround color purpple">
</section>
