<section id="home">
    <div class="aot">
      <figure data-aos="slide-up"
      data-aos-offset="200"
      data-aos-delay="300"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out">
        <img class="me" src="./assets/img/me-lateral.png" alt="me">
        <img class="bg-color-aot" src="./assets/img/bg1.png" alt="me">
      </figure>
    </div>
    <div class="container-data">
      <div class="sub-container">
        <div>
          <span [ngClass]="{'font-size-me': translate.currentLanguage === 'de'}">{{'me' | translate}}</span>
          <div class="info">
            <p class="name">Raudel Gómez Smith</p>
            <p class="job">{{'job' | translate}}</p>
          </div>
        </div>
      </div>
      <a href="#contact" class="lets-talk">{{'letsTalk' | translate}}</a>
    </div>
    <div class="curve-slide"></div>
    <p>{{'scroll' | translate}} <img src="./assets/img/arrow-down-line.png" alt="arrow"></p>
</section>
