@import '../../../helper.scss';

// rotate: -180deg; writing-mode: vertical-rl;

section{
  display: flex;
  position: relative;
  height: 100vh;
  @extend .padding-web;
  overflow: hidden;
  div{
    padding-top: 60px;
  }
  >p{
    display: flex;
    align-items: center;
    color: $whiteColor;
    position: absolute;
    bottom: 100px;
    right: 0px;
    transform: rotate(90deg);
    font-size: 24px;
    font-weight: 400;
    img{
      transform: rotate(90deg);
      width: 24px;
      height: 24px;
      object-fit: cover;
      object-position: center;
    }
  }
}

section{
  .aot{
    >figure{
      margin: 0;
      max-width: 600px;
      height: 100%;
      position: relative;
      bottom: -80px;
      img.me{
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
        position: relative;
      }
      img.bg-color-aot{
        position: absolute;
        width: 120%;
        height: 90%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 80px;
        z-index: -10;
      }
    }
  }
  .container-data{
    flex: 1;
    @extend .d-flex-center;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 10;
    margin-top: -150px;
    //margin-left: -250px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    .sub-container{
      >div{
        margin: 0;
        padding: 0;
        @extend .d-flex-center;
        gap: 24px;
        position: relative;
        >span{
          rotate: -180deg; 
          writing-mode: vertical-rl;
          // margin-top: -10px;
          // padding-top: 0;
          // height: 0;
          // display: flex;
          // transform: rotate(270deg);
          font-size: 54px;
          font-weight: 400;
          // transform-origin: center;

        }
        >div{
          margin: 0;
          padding-top: 0;
          >p{
            margin: 0;
          }
        }
      }
      >a{
        text-decoration: none;
        cursor: pointer; 
      }
    }

  }
}

.info{
  display: flex;
  flex-direction: column;
  .name{
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
  }
  
  .job{
    font-size: 56px;
    font-weight: 400;
    color: $purppleColor;
  }
}

.lets-talk{
  @include button();
  transition: all 125ms ease-in-out;
  &:hover{
    @include button($purppleColor);
    transform: scale(1.2);
  }
}

.figure-bg-slide{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  //top:0;
  left:0;
  right: 0;
  bottom:0;
  img{
    width: 100%;
    object-position: 0 70vh;
    object-fit: contain;
  }
}

.curve-slide{
  margin: 0 !important;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 40vh;
  left:0;
  right: 0;
  bottom: 0;
  //z-index: 100;
  background-size: cover;
  background-image: url('../../../assets/img/background_hero.png');
}

@media (max-width: 1450px){
  section{
    .aot{
      figure{
        bottom: 0;
      }
    }
    .container-data{
      .sub-container{
        >div{
          >span{
            font-size: 44px;
          }
        } 
      }
    }
  }
  .info{
    .name{
      font-size: 44px;
      font-weight: 700;
      line-height: 1;
    }
    
    .job{
      font-size: 44px;
      font-weight: 400;
      color: $purppleColor;
    }
  }  
}

@media (max-width: 1350px){
  section{
    flex-direction: column;
    align-items: center;
    .aot{
      >figure{
        img.me{
          bottom: -150px;
        }
      }
    }
    .container-data{
    flex: 1;
    @extend .d-flex-center;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 10;
    margin-top: 0;
    margin-left: 0;
    .sub-container{
      >div{
        margin: 0;
        padding: 0;
        //@extend .d-flex-center;
        gap: 24px;
        // >div{
        //   margin: 0;
        //   padding-top: 0;
        //   >p{
        //     margin: 0;
        //   }
        // }
      }
      >a{
        text-decoration: none;
        cursor: pointer; 
      }
    }

  }
    >p{
      top: 100px;
      bottom: 0;
    }
  }
}

@media (max-width: 750px){
  section{
    >p{
      display: none;
    }
    .container-data{
      .sub-container{
        >div{
          >span{
            font-size: 28px;
          }
        } 
      }
    }
  }
  .info{
    .name{
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
    }
    
    .job{
      font-size: 28px;
      font-weight: 400;
      color: $purppleColor;
    }
  }
}

@media (max-width: 500px){
  section{
    .aot{
      >figure{
        img.me{
          bottom: -250px;
        }
        img.bg-color-aot{
          position: absolute;
          width: 120%;
          height: 90%;
          left: 0;
          right: 0;
          bottom: -1100px;
          top: 200px;
          z-index: -10;
        }
      }
    }

    // .curve-slide{
    //   top: 0;
    //   left:0;
    //   right: 0;
    //   bottom: -600px;
    // }
  }
}

@media (max-width: 440px){
  section{
    .container-data{
      .sub-container{
        >div{
          >span{
            font-size: 24px;
          }
        } 
      }
    }
  }
  .info{
    .name{
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
    }
    
    .job{
      font-size: 18px;
      font-weight: 400;
      color: $purppleColor;
    }
  }
}


@media (max-width: 360px){
  section{
    .aot{
      >figure{
        img.me{
          bottom: -340px;
        }
        img.bg-color-aot{
          position: absolute;
          width: 120%;
          height: 90%;
          left: 0;
          right: 0;
          bottom: -1100px;
          top: 280px;
          z-index: -10;
        }
      }
    }
  }
}

@media only screen and (max-height: 1000px) {
  .curve-slide{
      top: 0;
      left:0;
      right: 0;
      bottom: -470px;
    }
    .aot{
      >figure{
        top: -50px;
      }
    }
    
    section{
      div{
        padding-top: 0;
      }
    }
}






