<section id="home">
    <div class="aot">
      <figure>
        <img class="me" src="../../../assets/img/me-lateral.png" alt="me">
        <img class="bg-color-aot" src="../../../assets/img/bg1.png" alt="me">
      </figure>
    </div>
    <div class="container-data">
      <div class="sub-container">
        <div>
          <p>I am</p>
          <div class="info">
            <p class="name">Raudel Gómez Smith</p>
            <p class="job">FRONTEND DEVELOPER</p>
            <!-- <a href="">Let´s talk</a> -->
          </div>
        </div>
      </div>
      <a class="lets-talk" href="">Let´s talk</a>
    </div>
    <div class="curve-slide"></div>
    <p>Scroll down <img src="../../../assets/img/arrow-down-line.png" alt="arrow"></p>
</section>
