@import '../../../helper.scss';

a{
  font-size: 24px;
  font-weight: 400;
  color: $whiteColor;
  transition: color 125ms ease-in-out;
  &:hover{
    color: $greenColor;
  }
}

nav{
  height: 112px;
  position: fixed;
  z-index: 100;
  top:0;
  left: 0;
  right: 0;
  background-color: $bgColor;
  >a{
    font-size: 32px;
  }
  padding: 0 88px;
  @extend .d-flex-center;
  justify-content: space-between;
  div{
    @extend .d-flex-center;
    gap: 32px;
  }
}