<nav>
  <a href="#home">
    <img src="./assets/img/logo-portfolio.png" alt=""><span>audel</span>
  </a>
  <div class="links-container">
    <a (click)="navService.activeLink($event)" href="#aboutMe" class="mobile-version">{{'aboutMe' | translate}}</a>
    <a (click)="navService.activeLink($event)" href="#skills" class="mobile-version">{{'skills' | translate}}</a>
    <a (click)="navService.activeLink($event)" href="#portfolio" class="mobile-version">{{'portfolio' | translate}}</a>
    <a (click)="navService.activeLink($event)" href="#contact" class="mobile-version">{{'contact' | translate}}</a>
    <div class="translate-option mobile-version">
      <a (click)="translate.switchLanguage('en'); navService.activelanguage($event)" [ngClass]="{'activeLanguage': translate.currentLanguage === 'en'}">EN</a>
      <div class="divider"></div>
      <a (click)="translate.switchLanguage('de'); navService.activelanguage($event)" [ngClass]="{'activeLanguage': translate.currentLanguage === 'de'}">DE</a>
    </div>
    <img src="./assets/img/burgerMenu.png" alt="close" class="mobile-version iconMenu" (click)="navService.toggleMenu(); navService.toggleIcon()" [ngClass]="{'iconMenu-toogle': !navService.icon}">
    <img src="./assets/img/close_final.png" alt="close" class="mobile-version iconMenu" (click)="navService.toggleMenu(); navService.toggleIcon()" [ngClass]="{'iconMenu-toogle': navService.icon}">
  </div>
</nav>
