@import '../../../helper.scss';

a{
  font-size: 24px;
  font-weight: 400;
  color: $whiteColor;
  transition: color 125ms ease-in-out;
  &:hover{
    color: $greenColor;
  }
}

nav{
  @extend .max-width-web;
  height: 112px;
  position: fixed;
  z-index: 100;
  top:0;
  left: 0;
  right: 0;
  background-color: $bgColor;
  padding: 0 88px;
  @extend .d-flex-center;
  justify-content: space-between;
  >a{
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 0;
    position: relative;
    img{
      width: 64px;
    }
    span{
      position: absolute;
      bottom: -7px;
      left:53px;
    }
  }
  >div{
    img{
      display: none;
      cursor: pointer;
      width: 30px;
    }
  }
  div{
    @extend .d-flex-center;
    gap: 32px;
  }
}

@media (max-width: 1100px){
  nav{
    >div{
      a.mobile-version{
        display: none;
      }
      img.mobile-version{
        display: block;
      }
    }
  }
}

@media (max-width: 700px){
  nav{
    >a{
      span{
        display: none;
      }
    }
    padding: 0 48px;
    @extend .d-flex-center;
    justify-content: space-between;
  }
}