<section>
	<article>
		<h4>Information according to § 5 TMG</h4>
		<br />
		Sample Company Ltd.<br />
		Sample Street 1<br />
		12345 Sample City<br />

		Represented by: Managing Director: Max Mustermann
		<br />

		<h4>Contact:</h4>
		Phone: +49 (0) 123 456789 <br />
		Fax: +49 (0) 123 456788 <br />
		Email: info&#64;samplecompany.com <br />
		<h4>Register entry:</h4>
		Entry in the commercial register. Register court: District Court of Sample
		City Registration number: HRB 12345 VAT ID: VAT identification number
		according to §27 a VAT Act: DE123456789 Responsible for the content
		according to § 55 para. 2 RStV: Max Mustermann Sample Street 1 12345 Sample
		City

		<h4>How do we collect your data?</h4>
		<p>
			Your data is collected, firstly, by you providing it to us. This can, for
			example, be data that you enter into a contact form.
		</p>
		<p>
			Other data is collected automatically or with your consent when you visit
			the website through our IT systems. <br />
			These are mainly technical data (e.g., internet browser, operating system,
			or time of page access). <br />
			This data is collected automatically as soon as you enter this website.
		</p>
		<h4>Dispute resolution</h4>
		<p>
			Part of the data is collected to ensure the error-free provision of the
			website. Other data can be used to analyze your user behavior.
		</p>
		<h4>What rights do you have regarding your data?</h4>
		<p>
			The European Commission provides a platform for online dispute resolution
			(ODR): https://ec.europa.eu/consumers/odr. You can find our email address
			above in the imprint. We are not willing or obliged to participate in
			dispute resolution proceedings before a consumer arbitration board.
		</p>
		<h4>Liability for links</h4>
		<p>
			Our offer contains links to external third-party websites, the contents of
			which we have no influence on. Therefore, we cannot assume any liability
			for these external contents. The respective provider or operator of the
			pages is always responsible for the contents of the linked pages. The
			linked pages were checked for possible legal violations at the time of
			linking. Illegal contents were not recognizable at the time of linking. A
			permanent control of the contents of the linked pages is, however, not
			reasonable without concrete evidence of a violation of the law. If we
			become aware of any legal infringements, we will remove such links
			immediately.
		</p>

		<h4>Copyright</h4>
		<p>
			The contents and works created by the site operators on these pages are
			subject to German copyright law. The duplication, processing,
			distribution, and any kind of exploitation outside the limits of copyright
			require the written consent of the respective author or creator. Downloads
			and copies of this site are only permitted for private, non-commercial
			use. Insofar as the content on this site was not created by the operator,
			the copyrights of third parties are respected. In particular, third-party
			content is marked as such. Should you nevertheless become aware of a
			copyright infringement, please inform us accordingly. If we become aware
			of any legal infringements, we will remove such content immediately.
		</p>
	</article>
	<app-footer></app-footer>
</section>
