@import '../../helper.scss';

section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  article{
    padding-top: 112px;
    padding-bottom: 64px;
    @extend .padding-web;
    flex: 1;
  }
}