<app-menu-mobile></app-menu-mobile>
<section>
	<article>
		<h4>{{'imprint-1' | translate}}</h4>
		<br />
		Sample Company Ltd.<br />
		Sample Street 1<br />
		12345 Sample City<br />

		Represented by: Managing Director: Max Mustermann
		<br />

		<h4>{{'contact' | translate}}:</h4>
		Phone: +49 (0) 123 456789 <br />
		Fax: +49 (0) 123 456788 <br />
		Email: info&#64;samplecompany.com <br />
		<h4>{{'imprint-2' | translate}}:</h4>
		{{'imprint-3' | translate}}
		<h4>{{'imprint-4' | translate}}</h4>
		<p>{{'imprint-5' | translate}}</p>
		<p>{{'imprint-6' | translate}}<br />
			{{'imprint-7' | translate}}<br />
			{{'imprint-8' | translate}}
		</p>
		<h4>{{'imprint-9' | translate}}</h4>
		<p>
			{{'imprint-10' | translate}}
		</p>
		<h4>{{'imprint-11' | translate}}</h4>
		<p>
			{{'imprint-12' | translate}}
		</p>
		<h4>{{'imprint-13' | translate}}</h4>
		<p>
			{{'imprint-14' | translate}}
		</p>

		<h4>Copyright</h4>
		<p>
			{{'imprint-15' | translate}}
		</p>
	</article>
	<app-footer></app-footer>
</section>
