// colors
$greenColor: #70E61C;
$purppleColor:#9747FF;
$lightBlue: #1CDAE6;
$darkBlue: #4B47FF;
$cianColor: #00BEE8;
$lightGreen: #1CE6B6;
$redColor:#FF4747;
$orangeColor: #FA7902;
$lightPurpple: #D61CE6;
$bgColor: #141D2F;
$whiteColor: white;
$bgDark: #1f293f;
$dangerColor: #E61C40;
$grayColor: #B6B6B6;

//extends class
.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-web{
  padding: 0 64px;
}

.max-width-web{
  max-width: 1920px;
  // max-width: 1440px;
  margin: 0 auto;
}

.opacity-bg-color{
  opacity: 0.8;
}

@mixin button($color: $greenColor, $paddingY: 15px, $paddingX: 30px ){
  font-size: 24px;
  font-weight: 400;
  background-color: $color;
  padding: $paddingY $paddingX;
  display: inline-block;
  border-radius: 10px;
}

@mixin padding-top-bottom($value){
  padding-top: $value;
  padding-bottom: $value;
}
