<section>
  <div class="container-imprint">
    <a class="my-logo" href="#home">Raudel</a>
    <a class="imprint" href="">Imprint</a>
  </div>
  <div class="container-copy">
    ©️ Raudel Gómez Smith 2024
  </div>
  <div class="icons-container">
    <figure>
      <a href="">
        <img src="../../../assets/img/github.png" alt="github">
      </a>
    </figure>
    <figure>
      <a href="">
        <img src="../../../assets/img/mail.png" alt="mail">
      </a>
    </figure>
    <figure>
      <a href="">
        <img src="../../../assets/img/linkedin.png" alt="linkedin">
      </a>
    </figure>
  </div>
</section>
