<section>
  <div class="container-imprint">
    <div class="container-logo">
      <a class="my-logo" href="#home"><img src="../../../assets/img/logo-portfolio.png" alt=""><span>audel</span></a>
    </div>
    <a class="imprint" routerLink="imprint">Imprint</a>
  </div>
  <div class="container-copy">
    ©️ Raudel Gómez Smith 2024
  </div>
  <div class="icons-container">
    <figure>
      <a href="https://github.com/RaudelGomez" target="_blank">
        <img src="../../../assets/img/github.png" alt="github">
      </a>
    </figure>
    <figure>
      <a href="">
        <img src="../../../assets/img/mail.png" alt="mail">
      </a>
    </figure>
    <figure>
      <a href="https://www.linkedin.com/in/raudel-gómez-smith-97ba211ba" target="_blank">
        <img src="../../../assets/img/linkedin.png" alt="linkedin">
      </a>
    </figure>
  </div>
</section>
