<section id="portfolio">
  <div class="header">
    <div class="divider-small"></div>
    <h2>{{'portfolio' | translate}}</h2>
    <div class="divider-big"></div>
  </div>
  <p>{{'explore' | translate}}</p>
   <article>
    <div>
      <figure class="normal-figure" data-aos="slide-right"
     
      data-aos-delay="300"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out">
        <img src="./assets/img/join.png" alt="Join project">
      </figure>
      <div class="normal-div">
        <h4>Join</h4>
        <h5>JavaScript | Firebase | HTML | CSS</h5>
        <p>{{'join-text' | translate}}</p>
        <div class="buttons">
          <a class="live" href="https://raudel-gomez-smith.de/join/index.html" target="_blank">Live test</a>
          <a class="git-hub" href="https://github.com/RaudelGomez/join-project.git" target="_blank">Github</a>
        </div>
      </div>
    </div>
     <div>
      <div class="invert-div">
        <h4>Shinobi</h4>
        <h5>JavaScript | HTML | CSS</h5>
        <p>{{'shinobi-text' | translate}}</p>
        <div>
          <a href="https://raudel-gomez-smith.de/shinobi/index.html" target="_blank">Live test</a>
          <a href="https://github.com/RaudelGomez/Shinobi.git" target="_blank">Github</a>
        </div>
      </div>
      <figure class="invert-figure" data-aos="slide-left"
  
      data-aos-delay="300"
      data-aos-duration="800"
      data-aos-easing="ease-in-out">
        <img src="./assets/img/shinobi2.png" alt="Join project">
      </figure> 
    </div>
    
    <div>
      <figure class="normal-figure" data-aos="slide-right"
      
      data-aos-delay="300"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out">
        <img src="./assets/img/pokedex.png" alt="Join project">
      </figure>
      <div class="normal-div">
        <h4>Pokedex</h4>
        <h5>JavaScript | HTML | CSS | Api</h5>
        <p>{{'pokedex-text' | translate}}</p>
        <div>
          <a href="https://raudel-gomez-smith.de/pokedex/index.html" target="_blank">Live test</a>
          <a href="https://github.com/RaudelGomez/Pokedex.git" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <!-- <div>
      <div class="invert-div">
        <h4>Simple CRM</h4>
        <h5>Angular | TypeScript | Firebase </h5>
        <p>{{'crm-text' | translate}}</p>
        <div>
          <a href="">Live test</a>
          <a href="">Github</a>
        </div>
      </div>
      <figure class="invert-figure" data-aos="slide-left"
     
      data-aos-delay="200"
      data-aos-duration="800"
      data-aos-easing="ease-in-out">
        <img src="./assets/img/crm.png" alt="Join project">
      </figure>
    </div> -->
   </article>
   <div class="recommendation-container">
      <div class="recommendation-sub-container">
        <img src="./assets/img/comillas.png" alt="comillas">
        <div class="text-recom">
          @if(translate.currentLanguage == "en"){
            {{this.recommendation[currentPostId].english}}
          }@else if(translate.currentLanguage == "de") {
            {{this.recommendation[currentPostId].german}}
          }@else {
            {{this.recommendation[currentPostId].spanish}}
          }
        </div>
        <div>
          <div class="divider-text-partner"></div>
          <span>{{currentName}} - Team Partner</span>
        </div>
      </div>
      <figure class="save-img-pace">
      </figure>
      <div class="slide-partner-container" data-aos="slide-left"
      data-aos-offset="200"
      data-aos-delay="200"
      data-aos-duration="900"
      data-aos-easing="ease-in-out">
        <figure class="partner-figure">
         <img src="{{currentImg}}" alt="Oezkan">
        </figure>
        <div class="divider-partner"></div>
      </div>
   </div>
   <div class="container-arrows-partner">
      <div class="sub-container-arrows-partner">
        <figure (click)="before()">
          <div class="arrow-left"></div>
        </figure>
        @for(point of recommendation; track point; let index = $index){
          @if(currentPostId == index){
            <div (click)="updateRecomendation(index)" class="pointGreen"></div>
          }@else{
            <div (click)="updateRecomendation(index)" class="pointPurpple"></div>
          }
        }
        <figure (click)="next()">
          <div class="arrow-right"></div>
        </figure>
      </div>
   </div>
   <img class="purpple-img" src="./assets/img/bg2.png" alt="purpple-img">
   <img class="green-img" src="./assets/img/bg5.png" alt="green-img">
  </section>

  
