<section id="portfolio">
  <div class="header">
    <div class="divider-small"></div>
    <h2>Portfolio</h2>
    <div class="divider-big"></div>
  </div>
  <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
   <article>
    <div>
      <figure class="normal-figure">
        <img src="../../../assets/img/join.png" alt="Join project">
      </figure>
      <div class="normal-div">
        <h4>Join</h4>
        <h5>JavaScript | Firebase | HTML | CSS</h5>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </p>
        <div class="buttons">
          <a class="live" href="">Live test</a>
          <a class="git-hub" href="">Github</a>
        </div>
      </div>
    </div>
    <div>
      <div class="invert-div">
        <h4>Shinobi</h4>
        <h5>JavaScript | HTML | CSS</h5>
        <p>A simple Jump-and-Run game based on an object-oriented approach. Help the samurai to defeat the evil Dragon. </p>
        <div>
          <a href="">Live test</a>
          <a href="">Github</a>
        </div>
      </div>
      <figure class="invert-figure">
        <img src="../../../assets/img/shinobi2.png" alt="Join project">
      </figure> 
    </div>
    <div>
      <figure class="normal-figure">
        <img src="../../../assets/img/pokedex.png" alt="Join project">
      </figure>
      <div class="normal-div">
        <h4>Pokedex</h4>
        <h5>JavaScript | HTML | CSS | Api</h5>
        <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information. </p>
        <div>
          <a href="">Live test</a>
          <a href="">Github</a>
        </div>
      </div>
    </div>
    <div>
      <div class="invert-div">
        <h4>Simple CRM</h4>
        <h5>Angular | TypeScript | Firebase </h5>
        <p>A very Simple Customer Relationship Management system working with CRUD functionality.. </p>
        <div>
          <a href="">Live test</a>
          <a href="">Github</a>
        </div>
      </div>
      <figure class="invert-figure">
        <img src="../../../assets/img/crm.png" alt="Join project">
      </figure>
    </div>
   </article>
   <div class="recommendation-container">
      <div class="recommendation-sub-container">
        <img src="../../../assets/img/comillas.png" alt="comillas">
          <p>{{currentText}}</p>
        <div>
          <div class="divider-text-partner"></div>
          <span>{{currentName}} - Team Partner</span>
        </div>
      </div>
      <figure >
        <!-- <img src="../../../assets/img/Ozkan.jpg" alt="Oezkan"> -->
      </figure>
   </div>
   <div class="container-arrows-partner">
      <div class="sub-container-arrows-partner">
        <figure (click)="before()">
          <img src="../../../assets/img/links.png" alt="link arrow">
        </figure>
        @for(point of recommendation; track point; let index = $index){
          @if(currentPostId == index){
            <div (click)="updateRecomendation(index)" class="pointGreen"></div>
          }@else{
            <div (click)="updateRecomendation(index)" class="pointPurpple"></div>
          }
        }
        <figure (click)="next()">
          <img src="../../../assets/img/rechts.png" alt="right arrow">
        </figure>
      </div>
   </div>
   <div class="slide-partner-container">
     <figure class="partner-figure">
      <img src="{{currentImg}}" alt="Oezkan">
     </figure>
     <div class="divider-partrner"></div>
   </div>
  </section>

  
