@import '../../../helper.scss';

.text-end{
  text-align: end;
}

.pointslide{
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: $greenColor;
  cursor: pointer;
}

section{
  position: relative;
  >p, >article{
    @extend .padding-web;
  }
}

section{
  //@extend .padding-web;
  @include padding-top-bottom(64px);
  @extend .d-flex-center;
  flex-direction: column;
  .header{
    //align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 100%;
    h2{
      margin-bottom: 0;
    }
    .divider-small{
      max-width: 100px;
      width: 100%;
      height: 4px;
      background-color: $purppleColor;
    }
    .divider-big{
      //min-width: 107px;
      max-width: 407px;
      width: 100%;
      height: 4px;
      background-color: $purppleColor;
    }
  }
}

section{
  article{
    >div{
      @extend .d-flex-center;
      justify-content: space-around;
      gap:46px;
      figure.normal-figure{
        margin: 0;
        width: 620px;
        height: 339px;
        flex:1;
        @extend .d-flex-center;
        justify-content: flex-end;
        img{
          margin-top: -50px;
          width: 50%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      div.normal-div{
        >*{
          margin: 0;
        }
        flex: 1;
        display: flex;
        flex-direction: column;
        gap:15px;
        h4{
          font-size: 32px;
          font-weight: 700;
          color: $purppleColor;
        }
        h5{
          font-size: 24px;
          font-weight: 400;
          color: $greenColor;
        }
        p{
          font-size: 16px;
          font-weight: 400;
        }
        >div{
          @extend .d-flex-center;
          justify-content: flex-start;
          gap:88px;
          a{
            @include button($purppleColor);
            transition: all 125ms ease-in-out;
            &:hover{
              transform: scale(1.2);
              @include button($greenColor);
            }
          }
          a:last-child{
            @include button(transparent);
            border: 1px solid $greenColor;
            transition: all 125ms ease-in-out;
            &:hover{
              transform: scale(1.2);
              @include button($greenColor);
            }
          }
        }
      }

      figure.invert-figure{
        margin: 0;
        width: 620px;
        height: 339px;
        flex:1;
        @extend .d-flex-center;
        justify-content: flex-start;
        img{
          margin-top: -50px;
          width: 50%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      div.invert-div{
        >*{
          margin: 0;
          @extend .text-end;
        }
        flex: 1;
        display: flex;
        flex-direction: column;
        gap:15px;
        h4{
          font-size: 32px;
          font-weight: 700;
          color: $purppleColor;
        }
        h5{
          font-size: 24px;
          font-weight: 400;
          color: $greenColor;
        }
        p{
          font-size: 16px;
          font-weight: 400;
        }
        >div{
          @extend .d-flex-center;
          justify-content: flex-end;
          gap:88px;
          a{
            @include button($purppleColor);
            transition: all 125ms ease-in-out;
            &:hover{
              transform: scale(1.2);
              @include button($greenColor);
            }
          }
          a:last-child{
            @include button(transparent);
            border: 1px solid $greenColor;
            transition: all 125ms ease-in-out;
            &:hover{
              transform: scale(1.2);
              @include button($greenColor);
            }
          }
        }
      }
    }
  }
}

section{
  .recommendation-container{
    @extend .d-flex-center;
    gap:48px;
    padding: 0 188px;
    // @extend .padding-web;
    .recommendation-sub-container{
      @extend .d-flex-center;
      position: relative;
      border: 4px solid $greenColor;
      border-radius: 32px;
      flex-direction: column;
      padding: 48px 96px;
      img{
        position: absolute;
        top: -40px;
        left: -30px;
        width: 68px;
        aspect-ratio: 1/1;
      }
      >div{
        @extend .d-flex-center;
        gap: 16px;
        width: 100%;
        
        .divider-text-partner{
        width:100%;
        flex:1;
        height: 2px;
        background-color: $purppleColor;
        }
        span{
          display: inline-block;
        }
      }
    }
    >figure{
      margin: 0;
      padding: 0;
      min-width: 272px;
      width: 100%;
      max-height: 272px;
      height: 100%;
      display: block;
    }
  }  
}

div.slide-partner-container{
  position: absolute;
  right: 0;
  bottom: 138px;
  @extend .d-flex-center;

  figure.partner-figure{
    margin: 0;
    padding: 0;
    max-width: 272px;
    width: 100%;
    max-height: 272px;
    height: 100%;
    border-radius: 100%;
    border: 4px solid $purppleColor;
    overflow: hidden;
    display: inline-block;
    >img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

div.divider-partrner{
  width: 188px;
  height: 4px;
  background-color: $purppleColor;
}

.container-arrows-partner{
  height: 40px;
  margin-top: 20px;
  div{
    @extend .d-flex-center;
    gap:20px;
    figure{
      margin: 0;
      width:40px;
      height: 40px;
      cursor: pointer;
      &:hover{
        border-radius: 100%;
        border: 2px solid $greenColor;
        overflow: hidden;
        transform: scale(1.2);
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        &:hover{
          border: 1px solid $greenColor;
        }
      }
    }
    div.pointGreen{
      @extend .pointslide;
    }
    div.pointPurpple{
      @extend .pointslide;
      background-color: $purppleColor;
    }
  }
}
