<section id="portfolio">
  <div class="header">
    <div class="divider-small"></div>
    <h2>{{'portfolio' | translate}}</h2>
    <div class="divider-big"></div>
  </div>
  <p>{{'explore' | translate}}</p>
   <article>
    <div>
      <figure class="normal-figure">
        <img src="./assets/img/join.png" alt="Join project">
      </figure>
      <div class="normal-div">
        <h4>Join</h4>
        <h5>JavaScript | Firebase | HTML | CSS</h5>
        <p>{{'join-text' | translate}}</p>
        <div class="buttons">
          <a class="live" href="">Live test</a>
          <a class="git-hub" href="https://github.com/RaudelGomez/join-project.git" target="_blank">Github</a>
        </div>
      </div>
    </div>
     <div>
      <div class="invert-div">
        <h4>Shinobi</h4>
        <h5>JavaScript | HTML | CSS</h5>
        <p>{{'shinobi-text' | translate}}</p>
        <div>
          <a href="">Live test</a>
          <a href="https://github.com/RaudelGomez/Shinobi.git" target="_blank">Github</a>
        </div>
      </div>
      <figure class="invert-figure">
        <img src="./assets/img/shinobi2.png" alt="Join project">
      </figure> 
    </div>
    
    <div>
      <figure class="normal-figure">
        <img src="./assets/img/pokedex.png" alt="Join project">
      </figure>
      <div class="normal-div">
        <h4>Pokedex</h4>
        <h5>JavaScript | HTML | CSS | Api</h5>
        <p>{{'pokedex-text' | translate}}</p>
        <div>
          <a href="">Live test</a>
          <a href="https://github.com/RaudelGomez/Pokedex.git" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div>
      <div class="invert-div">
        <h4>Simple CRM</h4>
        <h5>Angular | TypeScript | Firebase </h5>
        <p>{{'crm-text' | translate}}</p>
        <div>
          <a href="">Live test</a>
          <a href="">Github</a>
        </div>
      </div>
      <figure class="invert-figure">
        <img src="./assets/img/crm.png" alt="Join project">
      </figure>
    </div>
   </article>
   <div class="recommendation-container">
      <div class="recommendation-sub-container">
        <img src="./assets/img/comillas.png" alt="comillas">
        @if(translate.currentLanguage == "en"){
          {{this.recommendation[currentPostId].english}}
        }@else {
          {{this.recommendation[currentPostId].german}}
        }
          <!-- <p>{{currentText}}</p> -->
        <div>
          <div class="divider-text-partner"></div>
          <span>{{currentName}} - Team Partner</span>
        </div>
      </div>
      <figure class="save-img-pace">
        <!-- <img src="../../../assets/img/Ozkan.jpg" alt="Oezkan"> -->
      </figure>
      <div class="slide-partner-container">
        <figure class="partner-figure">
         <img src="{{currentImg}}" alt="Oezkan">
        </figure>
        <div class="divider-partner"></div>
      </div>
   </div>
   <div class="container-arrows-partner">
      <div class="sub-container-arrows-partner">
        <figure (click)="before()">
          <img src="./assets/img/links.png" alt="link arrow">
        </figure>
        @for(point of recommendation; track point; let index = $index){
          @if(currentPostId == index){
            <div (click)="updateRecomendation(index)" class="pointGreen"></div>
          }@else{
            <div (click)="updateRecomendation(index)" class="pointPurpple"></div>
          }
        }
        <figure (click)="next()">
          <img src="./assets/img/rechts.png" alt="right arrow">
        </figure>
      </div>
   </div>
   
   <img class="purpple-img" src="./assets/img/bg2.png" alt="purpple-img">
   <img class="green-img" src="./assets/img/bg5.png" alt="green-img">
  </section>

  
