<app-menu-mobile></app-menu-mobile>
<section>
	<article>
		<h3>{{ "policy-1" | translate }}</h3>
		<p>
			{{ "policy-2" | translate }}
		</p>
		<h3>{{ "policy-3" | translate }}</h3>
		<h4>{{ "policy-4" | translate }}</h4>
		<p>
			{{ "policy-5" | translate }}
		</p>
		<h4>{{ "policy-6" | translate }}</h4>
		<p>
			{{ "policy-7" | translate }}
		</p>
		<p>
			{{ "policy-8" | translate }}
		</p>
		<h4>{{ "policy-9" | translate }}</h4>
		<p>
			{{ "policy-10" | translate }}
		</p>
		<h4>{{ "policy-11" | translate }}</h4>
		<p>
			{{ "policy-12" | translate }}
		</p>
		<p>
			{{ "policy-13" | translate }}
		</p>
		<h3>{{ "policy-14" | translate }}</h3>
		<h3>{{ "policy-15" | translate }}</h3>
		<p>
			{{ "policy-16" | translate }}
		</p>
		<p>
			{{ "policy-17" | translate }}
		</p>
		<p>
			{{ "policy-18" | translate }}
		</p>
		<h3>{{ "policy-19" | translate }}</h3>
		<p>{{ "policy-20" | translate }}</p>
		<p>
			Raudel Gómez Smith<br />
			{{ "policy-21" | translate }}<br />
		</p>
	</article>
	<app-footer></app-footer>
</section>
